In [1]:
import pandas as pd
import numpy as np
from get_trajectories import compute_mvt_metric

In [2]:
def get_frame_position_df(position_df: pd.DataFrame,
                            frame: int, 
                            stride: int = 2) -> pd.DataFrame:
    """
    Get the position of droplets in a specific frame as a DataFrame.

    Parameters
    ----------
    frame : int
        Frame number.
    real_data_frame : int
        Real data frame number.
    stride : int, optional
        Stride value for subsampling the position data. Defaults to 2.

    Returns
    -------
    df : pandas.DataFrame
        DataFrame containing the positions of droplets in the frame.
    """
    x = np.array(position_df.iloc[::stride, frame])
    y = np.array(position_df.iloc[1::stride, frame])
    pos = np.array([x, y]).T
    index = position_df.index[::stride]
    index = [i[1:-2] for i in index]
    df = pd.DataFrame(pos, index=index, columns=[f"x{frame}", f"y{frame}"])

    return df

def get_position_df(position_df: pd.DataFrame, 
                    start_frame: int,
                    end_frame: int,
                    stride: int = 2) -> pd.DataFrame:
    """
    Get the position of droplets in a range of frames as a DataFrame.

    Parameters
    ----------
    start_frame : int
        First frame number.
    end_frame : int
        Last frame number.
    stride : int, optional
        Stride value for subsampling the position data. Defaults to 2.

    Returns
    -------
    df : pandas.DataFrame
        DataFrame containing the positions of droplets in the range of frames.
    """
    df = pd.DataFrame()
    for frame in range(start_frame, end_frame+1):
        df = pd.concat([df, get_frame_position_df(position_df, frame, stride)], axis=1)
    return df

In [3]:
# Read a results file and print the results in a table
results = pd.read_csv('../../evaluation/01_simulated/medium_mvt_6000_droplets.csv', index_col=0)
results_small = pd.read_csv('../../evaluation/01_simulated/small_mvt_6000_droplets.csv', index_col=0)
results_large = pd.read_csv('../../evaluation/01_simulated/large_mvt_6000_droplets.csv', index_col=0)

num_frames = len(results.columns)

results = get_position_df(results, 6, 9, 2)
results_small = get_position_df(results_small, 6, 9, 2)
results_large = get_position_df(results_large, 6, 9, 2)

In [4]:
compute_mvt_metric(None, results, normalize="droplet_radius", droplet_radius=2)

          all_mean  all_std     6_7     7_8     8_9
mean         3.425    0.013   3.410   3.425   3.442
std          3.879    0.145   4.037   3.686   3.914
median       2.385    0.063   2.300   2.452   2.401
min          0.000    0.000   0.000   0.000   0.000
max         34.749    2.463  38.211  32.686  33.351
mean_q95     2.794    0.051   2.723   2.844   2.814
std_q95      2.581    0.076   2.488   2.583   2.673

In [5]:
compute_mvt_metric(None, results_small, normalize="droplet_radius", droplet_radius=2)

          all_mean  all_std    6_7    7_8    8_9
mean         0.041    0.002  0.040  0.044  0.040
std          0.113    0.019  0.101  0.140  0.098
median       0.000    0.000  0.000  0.000  0.000
min          0.000    0.000  0.000  0.000  0.000
max          1.851    0.882  1.151  3.095  1.307
mean_q95     0.022    0.001  0.021  0.023  0.022
std_q95      0.049    0.001  0.049  0.050  0.049

In [6]:
compute_mvt_metric(None, results_small, normalize="max_distance", droplet_radius=2)

          all_mean  all_std    6_7    7_8    8_9
mean         0.000    0.000  0.000  0.000  0.000
std          0.000    0.000  0.000  0.001  0.000
median       0.000    0.000  0.000  0.000  0.000
min          0.000    0.000  0.000  0.000  0.000
max          0.008    0.004  0.005  0.013  0.005
mean_q95     0.000    0.000  0.000  0.000  0.000
std_q95      0.000    0.000  0.000  0.000  0.000

In [7]:
compute_mvt_metric(None, results_large, normalize="droplet_radius", droplet_radius=2)

          all_mean  all_std     6_7     7_8     8_9
mean        16.087    0.445  15.497  16.573  16.191
std         10.021    0.217  10.301   9.773   9.988
median      14.077    0.856  12.986  15.077  14.167
min          0.133    0.102   0.031   0.272   0.096
max         63.794    0.735  64.335  64.292  62.755
mean_q95    14.723    0.512  14.043  15.280  14.846
std_q95      8.166    0.062   8.214   8.078   8.204

In [8]:
compute_mvt_metric(None, results, normalize="max_distance", droplet_radius=2)

          all_mean  all_std    6_7    7_8    8_9
mean         0.014    0.000  0.014  0.014  0.014
std          0.016    0.001  0.017  0.015  0.016
median       0.010    0.000  0.009  0.010  0.010
min          0.000    0.000  0.000  0.000  0.000
max          0.142    0.010  0.156  0.134  0.137
mean_q95     0.011    0.000  0.011  0.012  0.012
std_q95      0.011    0.000  0.010  0.011  0.011

In [6]:
results_pred = pd.read_csv('../../evaluation/05_results/medium_mvt_6000/unfiltered_trajectories_.csv', index_col=0)

In [7]:
compute_mvt_metric(None, results_pred, normalize="droplet_radius", droplet_radius=2)

             0_1     1_2     2_3  all_mean  all_std
mean       3.692   3.754   3.719     3.722    0.025
std        4.440   4.182   4.200     4.274    0.118
median     2.474   2.683   2.645     2.601    0.091
min        0.000   0.000   0.000     0.000    0.000
max       70.829  60.202  48.877    59.969    8.963
mean_q95   2.932   3.091   3.038     3.020    0.066
std_q95    2.616   2.683   2.741     2.680    0.051

In [8]:
compute_mvt_metric(None, results_pred, normalize="max_distance", droplet_radius=2)

            0_1    1_2    2_3  all_mean  all_std
mean      0.016  0.016  0.016     0.016    0.000
std       0.019  0.018  0.018     0.019    0.001
median    0.011  0.012  0.011     0.011    0.000
min       0.000  0.000  0.000     0.000    0.000
max       0.308  0.262  0.212     0.260    0.039
mean_q95  0.013  0.013  0.013     0.013    0.000
std_q95   0.011  0.012  0.012     0.012    0.000

In [19]:
# Small mvt real data
results = pd.read_csv('../../data/05_results/small_mvt_1_4cuts/unfiltered_trajectories_y0_x0.csv', index_col=0)
compute_mvt_metric(None, results, normalize="droplet_radius", droplet_radius=21)

,0_1,1_2,2_3,3_4,4_5,5_6,6_7,all_mean,all_std
mean,1.224,0.199,0.159,0.110,0.203,0.082,0.091,0.295,0.382
std,2.212,0.791,0.785,0.156,1.659,0.193,0.029,0.832,0.766
median,0.106,0.095,0.143,0.095,0.095,0.095,0.095,0.104,0.016
min,0.000,0.000,0.000,0.000,0.048,0.000,0.000,0.007,0.017
max,21.952,18.656,25.476,4.190,34.142,8.585,0.301,16.186,11.352
mean_q95,0.842,0.104,0.120,0.098,0.102,0.070,0.086,0.203,0.261
std_q95,1.326,0.024,0.024,0.022,0.023,0.023,0.021,0.209,0.456